
<div class="foot">
    <div class="col-xs-12 col-md-4 big">PPG</div>
    <div class="col-xs-12 col-md-8 small">
        <a href="#">TERMS AND CONDITIONS | </a>
        <a href="#">FAQS | </a>
        <a href="#">PRIVACY POLICY | </a>
        <a href="#">CONTACT US</a><BR>
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-yahoo"></a><br> 
            Copyright © PPG. All Rights Reserved and Contact Us: +91 90000 00000       
    </div>     
</div>
</body>
</html>