<% include ./partials/header %>

<div class="col-xs-12 say">
        <div class="banner-image">
            <div class="inner-banner-image">
                <center>
                    <div class="banner_content">
                        <h1>FIND SCHOLARSHIPS</h1>
                        <p>Your dreams brought to life</p>
                        <a href="signup.ejs" target="_blank">
                        <center>
                        <input class="button" type="button" value="START NOW">
                        </center>
                        </a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <hr>
        <p>A GREAT PLATFORM TO FIND THE RIGHT SCOHLARSHIP FOR YOU!</p>
<hr>    </div>
    <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="card">
             <center><img class="ir" src="/images/means.jpg"></center>
             <div class="container">
            <p class="cardtext">MEANS BASED SCHOLARSHIPS</p>
             </div>
            </div>
            </div>
            <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/merit.jpg"></center>
             <div class="container">
            <p class="cardtext">MERIT BASED SCHOLARSHIPS</p>
             </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/h.jpg"></center>
             <div class="container">
            <p class="cardtext">NEED BASED SCHOLARSHIPS</p>
             </div>
            </div>
             </div>           
            <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/is.jpg"></center>
             <div class="container">
            <p class="cardtext">INTERNATIONAL SCHOLARSHIPS</p>
             </div>
            </div>
            </div>
        </div>
    <% include ./partials/footer %> 
   
    