.foot {
  background-color:#2d3d51;
  margin-top:15px;
  width:100%;
}
.style1{
  height:10px;
  border:0;
  box-shadow:0 10px 10px -10px #8c8b8b inset;
}
.big{
    padding-top:20px;
    color:#F3B54A;
	font-size:30px;
    text-align:center;
}
.small{
    padding-top:10px;
    color:#430297;
    font-size:15px;
}
.fa {
  padding: 20px;
  font-size: 15px;
  width: 7%;
  height:7%;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius:50%;
}
.fa:hover {
    opacity: 0.5;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-yahoo {
  background: #430297;
  color: white;
  }
.fa-facebook {
  background: #3B5998;
  color: white;
}
.sidenav {
 margin-top:50px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D8DBDD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2D3D51;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(105, 31, 89);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

li { 
  margin: 4px;
  list-style: none;
 }

.row{
  background: url(/images/img2.jpg) no-repeat center;
	margin-top:50px;
  margin-bottom:100px;
  width:100%;
  background-size:cover;
}
.row1{
  background-color: #242020;
	margin-top:50px;
  margin-bottom:100px;
  width:100%;
  background-size:cover;
}
.card {
  padding-top:10px;
background-color:#EACDCA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom:20px;
}
.cardtext{
  font-weight: bold;
  font-size:20px;
  color:#3B5998;
  position: relative;

}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.containers {
  right: 0;
  padding: 16px;
  background-color:rgb(255,255,255,0.04);
}

.say{
  background-color: #242020;
  margin-top:10px;
  margin-bottom:10px;
}

.banner-image{
	width:100%;
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(/images/i1.jpg) no-repeat center;
    background-size: cover;
}
.inner-banner-image{
    padding-top: 12%;
    width:80%;
    margin:auto;
}
.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    border-radius: 10px;
}
.button{
    color: #fff;
    background-color: #c9302c;
    border-color: #FF5000;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}
.button:hover{
    background: palevioletred;
    color: black;
}

.ir{
  width:350px;
  height:350px;
  border-radius:50%;
}
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .fi{
    border-style:solid;
    border-color:black;
    border-width:5px;
      }
      .left{
        padding:7px;
        margin:15px;
        width:75%;
        float:left;
        border-style:solid;
        border-width:5px;
        border-color:#154664;
        background-color:white;
        border-radius:30px;
      }
      .right{
        padding:7px;
        margin:15px;
        width:75%;
        float:right;
        border-style:solid;
        border-width:5px;
        border-color:#FFD38A;
        background-color:white;
        border-radius:30px;
      }
      #timeline{
        margin-top:15px;
          border-style:solid;
        border-width:5px;
        background-color:#B3B3B3;
        border-radius:10px;
      }
      .me{
        margin-bottom:40px;
      }
      .sh{
        margin-bottom:20px;
        background-color:#000000;
        width:100%;
        border-style:solid;
        border-width:10px;
        border-color:#808080;
        padding:15px;
        border-radius:20%;
        color:#FFD38A;
        font-size:15px;
      }	
      @media screen and (max-width: 1095px) {
        .ir{
       width:100px;
       height:100px;
        }
        .cardtext{
    font-size:20px;
        }
        .left{
          width:100%;
          font-size:15px;
        }
        .right{
          width:100%;
          font-size:15px;
        }
      
}

