
<% include ./partials/header %>
<form action="/s" method="GET">
   <div style="background-color: #116466">
      
   <div>
   <hr>
   <div class="alert alert-primary col-md-offset-1 col-md-4" style="background-color:#D9B08C">
   <center>Degree
   <select name="Degree">
   <option>Select</option>
   <option value="Undergraduate">Undergraduate</option>
   <option value="Postgraduate">Postgraduate</option>
   <option value="PhD">PhD</option>
   </select>
   </center>
   </div>
  
  
   <div class="alert alert-primary col-md-offset-2 col-md-4" style="background-color:#D9B08C">
   <center>Gender
   <select name="Gender">
   <option>Select</option>
   <option value="Male">Male</option>
   <option value="Female">Female</option>
   <option value="Other">Other</option>
   </select>
   </center>
   </div>
  
</div>


   <div>

   <div class="alert alert-primary col-md-offset-1 col-md-4" style="background-color:#D9B08C">
   <center>Scholarship
   <select name="Scholarship">
   <option>Select</option>
   <option value="means">Means Based Scholarship</option>
   <option value="merit">Merit Based Scholarship</option>
   <option value="need">Need Based Scholarship</option>
   <option value="international">International Scholarship</option>
   </select>
   </center>
   </div>
  
   <div  class="alert alert-primary col-md-offset-2 col-md-4" style="background-color:#D9B08C">
   <center>Country
   <select name="Country">
   <option>Select</option>
   <option value="National">National</option>
   <option value="International">International</option>
   </select>
   </center>
   </div>
  
</div>
<div class="col-xs-12">
<center><input class="button" type="Submit"></center>
<br>

<hr>
</div>
</div>
</form>



        <% include ./partials/footer %> 