
<% include ./partials/header %>

<div class="col-xs-12 say">
        <div class="banner-image">
            <div class="inner-banner-image">
                <center>
                    <div class="banner_content">
                        <h1>FIND SCHOLARSHIPS</h1>
                        <p>Your dreams brought to life</p>
                        <a href="/s">
                        <center>
                        <input class="button" type="button" value="START NOW">
                        </center>
                        </a>
                    </div>
                </center>
            </div>
        </div>
    <div class="col-xs-12" style="background-color: #242020">
    <center>
        <p style="color:white"><b>A GREAT PLATFORM TO FIND THE RIGHT SCHOLARSHIP FOR YOU!</b><hr></p>
        <p style="color:white">  Choosing the right scholarship can be a daunting task.<br>Here scholarships are just for you based on your strengths,
            skills and interests.<br>Find the perfect scholarship for your budget.<br>
        </p></center>
        <div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="card">
             <center><img class="ir" src="/images/means.jpg"></center>
             <div class="container">
            <p class="cardtext">MEANS BASED SCHOLARSHIPS</p>
             </div>
            </div>
            </div>
            <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/merit.jpg"></center>
             <div class="container">
            <p class="cardtext">MERIT BASED SCHOLARSHIPS</p>
             </div>
            </div>
            </div>
        </div>
        <div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/h.jpg"></center>
             <div class="container">
            <p class="cardtext">NEED BASED SCHOLARSHIPS</p>
             </div>
            </div>
             </div>           
            <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
            <div class="card"><center>
             <img class="ir" src="/images/is.jpg"></center>
             <div class="container">
            <p class="cardtext">INTERNATIONAL SCHOLARSHIPS</p>
             </div>
            </div>
            </div>
        </div>
        </div>
        </div>
    <% include ./partials/footer %> 
   
